@import url(./animations.css);
div.HomePage{
  background-image: url(../images/backgroundImages/DeLuxeBackground-01.jpg );
    }
    .textAnimation {
      animation: textTitle  3.2s linear 1s both;
      opacity: 0;
      font-size: 0rem;
    }

