@media  screen and (max-width: 768px){
    header.navBar{
        height: 0;
        overflow: hidden;
        font-size: 0px;
      }
      nav.navMenu{
        height: 0;
        overflow: hidden;
        font-size: 0px;
      }

      .containerConteudo{
        height: 100%;
        justify-content: flex-end;
        margin-bottom: 10vh;
      }
    .containerConteudo h1{
        margin-bottom: 30vh;
        font-size: 9vw;
      }
}